{:paths ["."]
 :deps {io.github.babashka/tools.bbuild {:git/sha "4493ba83664bdbfcaf932845fbd2f2183cdb7c1d"}}
 :tasks {prep    {:task (exec 'build.lets/prep)}
         jank    {:task (exec 'build.lets/jank)}
         compile {:task (exec 'build.lets/compile-jank)}
         lets (let [[action] *command-line-args*]
                (exec (symbol "build.lets" action)))}}
