{:paths ["src"]
 :deps {io.github.keychera/odoyle-rules {:git/sha "15c5f2cc0905cf54bd76db627f2114721cf75e32"}}
 :jank {:include-dirs [".libs/SDL3-3.4.2/x86_64-w64-mingw32/include"
                       "src-cpp"]
        :library-dirs [".libs/SDL3-3.4.2/x86_64-w64-mingw32/bin"]
        :linked-libraries ["SDL3"]
        :compile-out "bermain"}
 :aliases {:release  {:main bermain.game}
           :repl-dev {:extra-paths ["src-dev"]
                      :main minusthree.-dev.start}}}
